#stocklist {
/*align to the left instead of the center*/
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.left-aligned {
    text-align: left;
  }

.stock-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc; 
    text-align: left;
    margin: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-left: 0px;
}